# Environments
.env
.venv
env/
venv/
__pycache__/
*.pyc

# Node Modules
frontend/node_modules/
frontend/dist/
frontend/.npm/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Databases
# We might want to ignore chroma_db to save space, but keeping it if needed for direct running.
# Uncomment if DB is too large:
# database/chroma_db/
# *.db
